.banner{
	width: 100%;
	height: 120vh;
	background-image: url(hi.jpg);
	background-size: cover;
	
	background-position: center ;
}

.navbar{
    height: 150px;
	width:85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar li a{
    text-decoration: none;
	color: rgb(5, 79, 20);
	text-transform: uppercase;
}



.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
    
}
.navbar ul li a{
	text-decoration: none;
    color: rgb(5, 79, 20);
	text-transform: uppercase;
    
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after{
	width:100%;
}

.div1 {
    display: flex;
}
.transcribe{
    padding: 10px;
    margin: 20px;
    background: crimson;
    color: white;
    transition: transform 0.2s ease-in-out;
}
.transcribe:hover{
    padding: 11px;
    margin: 15px;
    background: white;
    color: red; 
    transform: scale(1.1);
}
 .success{
    color: green;
    margin-left: 565px;
 }
.div2 input {
    width:300px;
    height:15px;
    background-color: #d9003357;
    font-size: 9px;
    /* margin-top: auto; */
    margin-left:410px;
    border-radius:25px;
    border: 2px rgba(25, 8, 151, 0.548) solid;
}

.div2 button {
    background-color: #0b74d0;
    color: #f2f2f2;
    margin-left: 520px;
    padding: 5px 10px;
    margin-block-start: -3px;
    font-size: 9px;
    border: none;
    cursor: pointer;
}
img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-right: 10px;
  }
  
/* .div2 button :hover{
    padding: 5px 10px;
    margin-left: 650px;
    background: rgb(216, 225, 239);
    color: rgb(10, 24, 86); 
    transform: scale(1.1);
} */
.container2{
    width: 100%;
}
.box1, .success {
 display: inline-block;
}
.container{
    background: rgba(10, 98, 161, 0.295);
    font-size: larger;
    color:rgb(4, 24, 24);
    border:5px rgb(35, 5, 99) solid;
    border-radius: 10px;
    padding:10px;
    margin-right:50px;
    margin-top:30px;
    height: 100px;
    margin-inline: 20px;
}

.audio-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px orange solid;
    display: flex;
    margin-left: 40%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .audio-button:hover {
    transform: scale(1.1);
    background: orange;
  }

  #countdown-timer {
   border: 5px orange solid;
   color:Red;
   width:40px;
   border-radius: 20px;
   margin-left: 48%;
   background: white;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

#countdown-timer.finished {
    color:orange;
  
}