<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>TRANSCRIPTION</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="banner">
        <div class="navbar">
            <img src="/static/logo.jpeg" alt="Your Brand Name">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">TEAM</a></li>
               
            </ul>
        </div>
    <h1 style="text-align: center; color:rgb(90, 78, 96); text-shadow:rgb(18, 156, 230);font-family:serif; ">
        !!WELCOME TO AUDIO TRANSCRIPTION PROJECT!!
    </h1>
    <div style="text-align: center; font-style: italic; font-size:xx-large; color: rgb(38, 38, 235);" id="countdown">
        Choose the Audio file to start
    </div >
    <div class="div2">
        
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="container2">
               <div class="box1"> <input type="file" name="file" accept=".wav"></input></div>
                <div class="success">
                {% if success %}
                {{ success }}
                {% endif %}</div>
            </div>
        
            <button type="submit">Upload audio file</button>

        </form>
    </div>
    <div class="container">
        Prediction:<br>
        {% if output %}
        <p>{{ output }}</p>
        {% endif %}
    </div>
    <div class=" div1"><img class="audio-button " id="record" width="50px" src="static/audio.svg" alt="Record">
        <form action="/result" method="POST">
            <button class="transcribe" type="submit" id="result">TRANSCRIBE</button>
        </form>
    </div>
    <div id="countdown-timer"></div>
    <script>

        var record = document.getElementById("record");
        var xhr = new XMLHttpRequest();
        var recording = false;
        var data = new FormData();
        record.onclick = function () {
            recording = true;
            xhr.open('POST', '/record', true);
            xhr.send(data);
        };

        const button = document.getElementById("record");
const timer = document.getElementById("countdown-timer");

button.addEventListener("click", () => {
  let count = 10;
  timer.classList.remove("finished");
  timer.innerText = count;

  const countdownInterval = setInterval(() => {
    count--;
    timer.innerText = count;
    if (count === 0) {
      clearInterval(countdownInterval);
      timer.classList.add("finished");
    }
  }, 1000);
});
document.getElementById('form').addEventListener('submit',functions(e)){
            e.preventDefault();

            const userFile =document.getElementById('file').files[0];
            const userComments = document.getElementsById('comments').value;
            const formData =new FormData();
            formData.append('user-file',userFile,'user-file.wav');
            formData.append('user-comments', userComments);

            fetch('https://httpbin.org/post',{
            method: "POST",
            body: formData,
                 })
        .then(res=> res.json())
        .then(data=> console.log(data))
        .catch(err => console.log(err)); 
        }

    </script>
</div>
</body>
</html>

